.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}
.page-content-container {
    width: 100%;
    overflow: hidden;
}
.greyfont {
    color: #999;
}
.redfont {
    color: red;
}
.greenfont {
    color: lightgreen;
}
.olive {
    color: darkolivegreen;
}
.lightgray {
    color: lightgray;
}
.bottom-margin {
    margin-bottom: 60px;
}
